.title {
    margin-top: 10px;
    display: flex;
    align-items: center; /* Alinea verticalmente los elementos en el centro */
    justify-content: flex-start; /* Alinea los elementos al inicio */
    gap: 20px; /* Espacio entre los elementos para separar el botón de volver del título */
}

.title h4 {
    margin: 0; /* Elimina el margen del título para un mejor alineamiento */
    flex-grow: 1; /* Permite que el título ocupe el espacio restante */
}

.title button {
    margin-right: auto; /* Empuja el botón de "Agregar" al extremo derecho */
}

.back-button {
    margin-right: 20px; /* Añade espacio a la derecha del botón "Volver" */
}
