<app-progress-bar *ngIf="loading"></app-progress-bar>
<div *ngIf="!loading" class="container"> 
  <div class="title">
      <!-- Botón para regresar a la página anterior -->
      <button type="button" class="btn btn-secondary back-button" routerLink="/principal-empleado">Volver</button>
      <h4>Listado de Productos</h4>
      <button type="button" class="btn btn-primary" routerLink="/add-productos/0">Agregar</button>
  </div>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Descripción</th>
        <th scope="col">Categoría</th>
        <th scope="col">Precio</th>
        <th scope="col">Stock</th>
        <th scope="col">Sucursal</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listProducts" class="table-active">
        <td>{{ item.name }}</td>
        <td>{{ item.description }}</td>
        <td>{{ item.categoria }}</td>
        <td>{{ item.price }}</td>
        <td>{{ item.stock }}</td>
        <td>{{ item.idsucursal }}</td>
        <td>
            <button type="button" class="btn btn-primary btn-sm" routerLink="/add-productos/{{ item.id }}">Editar</button>
            <button 
              type="button" 
              class="btn btn-danger btn-sm ms-2" 
              (click)="item.id !== undefined ? confirmDelete(item.id) : null">
              Eliminar
            </button>
          </td>
      </tr>
    </tbody>
  </table>
</div>
