<!DOCTYPE html>
<html lang="es">
<body>
    <!-- Footer -->
    <footer class="footer">
        <div class="footer-content">
            <div class="footer-section about">
                <h3>Sobre Nosotros</h3>
                <p>Somos una empresa dedicada a ofrecer los mejores servicios para nuestros clientes.</p>
            </div>
            <div class="footer-section contact">
                <h3>Contacto</h3>
                <p>Email: contactoejemplo.com</p>
                <p>Teléfono: +123 456 7890</p>
            </div>
            <div class="footer-section social">
                <h3>Síguenos</h3>
                <a href="https://www.facebook.com/profile.php?id=100092435896433" target="_blank">
                    <img src="assets/Icons/facebook.png" alt="Facebook">
                </a>
                <a href="https://www.instagram.com/sr.macondo_dh/" target="_blank">
                    <img src="assets/Icons/Instagram.png" alt="Twitter">
                </a>
            </div>
        </div>
        <div class="footer-bottom">
            &copy; 2024 MiSitio.com | Todos los derechos reservados
        </div>
    </footer>
</body>
</html>
