
<div class="carousel-wrapper">
    <!-- Carrusel de fondo -->
    <div id="backgroundCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/Fondo.jpg" class="d-block w-100" alt="Imagen 1">
        </div>
        <div class="carousel-item">
          <img src="assets/Fondo.jpg" class="d-block w-100" alt="Imagen 2">
        </div>
        <div class="carousel-item">
          <img src="assets/Fondo.jpg" class="d-block w-100" alt="Imagen 3">
        </div>
      </div>
    </div>

    <app-footer>

    </app-footer>
  <!-- Carrusel de categorías (delantero) -->
<div id="categoriesCarousel" class="carousel slide categories-carousel" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="category-item-container">
          <div class="category-item">
            <img src="assets/categorias/tienda.jpg" alt="Imagen Categoría 1">
            <h5>Productos</h5>
            <p>Encuentra tus productos favoritos</p>
            <button onclick="window.location.href='/lista-productos'">Ver más</button>
          </div>
          <div class="category-item">
            <img src="assets/categorias/menu.jpg" alt="Imagen Categoría 2">
            <h5>Menu</h5>
            <p>Explora nuestro menú del día.</p>
            <button onclick="window.location.href='/lista-menu'">Ver más</button>
          </div>
          <div class="category-item">
            <img src="assets/categorias/juegos.jpg" alt="Imagen Categoría 3">
            <h5>Juegos</h5>
            <p>Mira la disponibilidad de los juegos.</p>
            <button onclick="window.location.href='/lista-juegos'">Ver más</button>
          </div>
          <div class="category-item">
            <img src="assets/categorias/novedades.jpg" alt="Imagen Categoría 4">
            <h5>Novedades</h5>
            <p>Explora todas las novedades.</p>
            <button onclick="window.location.href='/lista-novedades'">Ver más</button>
          </div>
        </div>
      </div>
    </div>

