<div id="categoriesCarousel" class="carousel slide categories-carousel" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="category-item-container">
          <div class="category-item">
            <h5>Venta de productos</h5>
            <p>Recibe pedidos y registra ventas.</p>
            <button onclick="window.location.href='/venta-productos'">Ver más</button>
          </div>
          <div class="category-item">
            <h5>Renta de juegos</h5>
            <p>Registra y confirma renta de juegos.</p>
            <button onclick="window.location.href='/renta-juegos'">Ver más</button>
          </div>
          <div class="category-item">
            <h5>Empleados</h5>
            <p>Administra los empleados.</p>
            <button onclick="window.location.href='/empleados'">Ver más</button>
          </div>
          <div class="category-item">
            <h5>Productos</h5>
            <p>Administra los productos y servicios.</p>
            <button onclick="window.location.href='/productos'">Ver más</button>
          </div>
        </div>
      </div>
    </div>